header {
  text-align: center;
  padding: 5px;
  margin: auto;
  font-size: xx-large;
  background-color: rgba(75, 75, 141, 0.534);
}

.search {
  width: 30%;
}

input{
  width: 90%;
  padding: 15px;
  font-size: x-large;
  margin: 10px;
}
button {
  width: 95%;
  padding: 5px;
  font-size: larger;
  background-color: lightblue;
  border-color: transparent;
  margin: 10px;
}
ul{
  font-size: xx-large;
  font-weight: bold;
}

div {
  padding: 5px;
  float: left;
  width: auto;
}