header {
  text-align: center;
  padding: 5px;
  margin: auto;
  font-size: xx-large;
  background-color: rgba(75, 75, 141, 0.534);
}

.search {
  width: 30%;
}

input{
  width: 90%;
  padding: 15px;
}

div {
  padding: 5px;
  float: left;
  width: auto;
}